.content {
    position: relative;
    top: 100px;
}
.content .buttons button:nth-child(2) {
    margin-left: 10px;
}
.content .header {
    background-color: #3343a4;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.content .header button {
    background-color: #3343a4;
    position: relative;
    left: 20px;
    border: none;
    color: white;
    transition: .3s;
}
.content .header button:hover {
    background-color: #4c59ad;
    transition: .3s;
}
.content form {
    display: flex;
    flex-wrap: wrap;
}
.content form label{
    display: block;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.content form label input{
    position: relative;
}
.content form label:nth-child(1) input{
    left: 10px;
}
.content form label:nth-child(2) input{
    left: 44px;
}
.content form label:nth-child(3) input{
    left: 16px;
}
.content form label:nth-child(4) input{
    width: 20px;
    height: 20px;
    left: 19px;
    top: 5px;
}
.content .button-group button {
    margin-right: 5px;
    background-color: #3343a4;
    color: white;
}
.content .button-group button:hover {
    background-color: #4c59ad;
}
.content .button-group-form {
    width: 180px;
    position: relative;
    display: flex;
    float: right;
    right: 32px;
}
.content .button-group-form button:nth-child(1){
    right: 10px;
    position: relative;
}
.content .info-lists {
    position: relative;
    width: 100%;
}
.content .no-text {
    margin: 0 auto;
}
.content .errors p{
    text-align: center
}